<template>
  <!-- hero -->
<q-page class="flex flex-center">
  <q-card inline class="q-ma-sm">
    <h2 style="font-size: 10vw; margin-left: 5vw; margin-bottom: 0;">Backup Phrase</h2>
    <span style="font-size: 5vw; margin-left: 5vw; color: #adadad">Save this in a safe place!</span>
      <q-card-main style="font-size: 8vw">
        {{ words }}
      </q-card-main>
      <q-card-separator />
      <q-card-actions>
        <q-btn flat @click="done">Done</q-btn>
        <q-btn flat @click="generate">New Phrase</q-btn>
      </q-card-actions>
    </q-card>
</q-page>
</template>

<style>
</style>

<script>
let bip39 = require('bip39')
// let bip32 = require('bip32')
// let bitcoin = require('bitcoinjs-lib')
// let mngen = require('mngen')

export default {
  name: 'Generate',
  data () {
    return {
      words: 'easily thrive bar faint robust poverty artwork sudden limb copy fitness enlist whip emerge liar'
    }
  },
  methods: {
    done: function () {
      console.log('saved')
      localStorage.setItem('bitcoin', 'cNQhPbeHZeXeaxg36Cyy4pDn1WHn3uRXiBEJ1L17xVXPMuyLSsti')
      localStorage.setItem('Bitcoin-pub', 'mrfN7KBVuovJrKy4EnNqUUZgv5d3Y1RRrB')
      localStorage.setItem('Litecoin', 'TA8CFFc9GUtXvYdXDnWnaxy2rKC5kwarfhSQ2yQGADLfeh1ZALD2')
      localStorage.setItem('Litecoin-pub', 'TA8CFFc9GUtXvYdXDnWnaxy2rKC5kwarfhSQ2yQGADLfeh1ZALD2')
      localStorage.setItem('dash', 'cNQhPbeHZeXeaxg36Cyy4pDn1WHn3uRXiBEJ1L17xVXPMuyLSsti')
      localStorage.setItem('Dash-pub', 'yXTrfTprW3MiZu1Zwx35Y7TWAi6Q7F9Yau')
      localStorage.setItem('litecoin-test', 'cNQhPbeHZeXeaxg36Cyy4pDn1WHn3uRXiBEJ1L17xVXPMuyLSsti')
      localStorage.setItem('LitecoinTestnet-pub', 'mrfN7KBVuovJrKy4EnNqUUZgv5d3Y1RRrB')

      this.$router.push('/')
    },
    generate: function () {
      // let mnemonic = mngen.list(15)
      // mnemonic = mnemonic.join(' ')
      let mnemonic = bip39.generateMnemonic()
      this.words = mnemonic
      // console.log(this.words)
      // let seed = bip39.mnemonicToSeed(mnemonic)
      // let root = bip32.fromSeed(seed)
      // let key = root.derivePath("0'/0'/0")
      // let address = bitcoin.payments.p2pkh({ pubkey: key.publicKey })
      // console.log(address)
    }
  },
  created () {
    this.generate()
  }
}
</script>
