<template>
  <!-- hero -->
<q-page class="page">
  <q-carousel v-model="slide" class="text-white carousel-container" color="white" arrows quick-nav infinite>
    <q-carousel-slide class="Bitcoin" style="overflow: hidden;">
      <img class="dc-img" src='~assets/bitcoin.png' />
      <p v-if="loadingBalance" class="flex flex-center"><q-spinner color="white" :size="50" /></p>
      <div v-else>
        <p class="balance">${{ BitcoinDollarBalance }}</p>
        <p class="coin-balance">{{ BitcoinBalance }} BTC</p>
      </div>
    </q-carousel-slide>
    <q-carousel-slide class="Litecoin" style="overflow: hidden;">
      <img class="dc-img" src='~assets/litecoin.png' />
      <p class="balance">${{ LitecoinDollarBalance }}</p>
      <p class="coin-balance">{{ LitecoinBalance }} LTC</p>
    </q-carousel-slide>
    <q-carousel-slide class="Dash" style="overflow: hidden;">
      <img class="dc-img" src='~assets/dash.png' />
      <p class="balance">${{ DashDollarBalance }}</p>
      <p class="coin-balance">{{ DashBalance }} DASH</p>
    </q-carousel-slide>
    <q-carousel-slide class="LitecoinTestnet" style="overflow: hidden;">
      <img class="dc-img" src='~assets/litecoin.png' />
      <p class="balance">${{ LitecoinDollarTestnetBalance }}</p>
      <p class="coin-balance">{{ LitecoinTestnetBalance }} LTC (testnet)</p>
    </q-carousel-slide>
  </q-carousel>
  <br>
  <!-- buttons -->
  <div class="flex flex-center">
    <q-btn id="send-btn" :class="coin" icon="call_made" label="send" size="lg" @click='send = true' />
    <q-btn id="rec-btn" :class="coin" icon="call_received" label="receive" size="lg" @click='receive = true'/>
  </div>
  <!-- receive modal -->
  <q-modal v-model="receive" minimized>
    <h2 style="margin: 6vw 0 0 9vw;">Receive</h2>
    <img id="qr" src='~assets/qr.png' />
    <p style="text-align: center; font-size: 5vw;"><q-spinner color="secondary" :size="30" /></p>
  </q-modal>
  <!-- send modal -->
  <q-modal v-model="send" position="bottom">
    <h2 style="margin: 7vw; margin-bottom: 0">Send</h2>
    <div class="flex flex-center">
      <q-field style="width: 90%" icon="person">
        <q-input v-model="to" float-label="To" :after="[{icon: 'crop_free', handler () {}}]"/>
      </q-field>
      <q-field style="width: 90%" icon="attach_money">
        <q-input v-model="amount" float-label="Amount" prefix="$" placeholder="1.00" type="number" :decimals="2" />
      </q-field>
      <q-btn style="color:#fff; margin: 7vw 3vw" :class="coin" icon="call_made" label="send" size="lg" @click='sendTx'/>
      <q-btn style="color:#fff; margin: 7vw 3vw" :class="coin" icon="close" label="close" size="lg" @click='send = false'/>
    </div>
  </q-modal>
  <!-- history list -->
  <br>
  <q-scroll-area style="height: 58vh;">
    <div class="flex flex-center">
      <q-list class="history">
        <q-list-header>History</q-list-header>
          <p v-show="loading" style="text-align: center;"><q-spinner color="secondary" :size="30" /></p>
          <p v-show="history.length < 1 && !loading" style="text-align: center; color: #ababab">no history :(</p>
          <div v-for="tx in history" :key="tx.id">
            <q-item-separator inset />
            <q-item>
              <q-item-side v-if="tx.type === 'send'" icon="call_made" inverted color="red" />
              <q-item-side v-else icon="call_made" inverted color="green" />
              <q-item-main>
                <q-item-tile label>{{ tx.type === 'send' ? 'Sent' : 'Received'}} {{ tx.amount / 100000000 }} {{ ticker }}</q-item-tile>
                <q-item-tile sublabel>{{ tx.date }}</q-item-tile>
              </q-item-main>
              <a :href="tx.url" target="_blank"><q-item-side right icon="more_horiz"/></a>
              <q-item-side right icon="done" color="green" />
            </q-item>
          </div>
      </q-list>
    </div>
  </q-scroll-area>
</q-page>
</template>

<style>
.dc-img {
  width: 60vw;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}
a {
  text-decoration: none;
}
.page {
  height: 100%;
  overflow: hidden;
}

.carousel-container {
  height: 25vh;
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

.balance {
  color: #fff;
  font-weight: bold;
  font-size: 6vh;
  text-align: center;
  margin: 5vh 0 0 0;
  position: relative;
  z-index: 2;
}

.coin-balance {
  color: #fff;
  font-size: 2.2vh;
  text-align: center;
  font-style: italic;
  position: relative;
  z-index: 2;
}

.Bitcoin {
  background: #FF9900;
}

.Litecoin {
  background: #BEBEBE;
}

.Dash {
  background: #0088E8;
}

.LitecoinTestnet {
  background: #f20707;
}

#send-btn {
  color: #fff;
  margin: 0 2vw;
  padding: 2vw 6vw;
}

#rec-btn {
  color: #fff;
  margin: 0 2vw;
  padding: 2vw 6vw;
}

.history {
  width: 90%;
  border-radius: 10px;
  /* border-color: #a5a5a5; */
}

#qr {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
</style>

<script>
let axios = require('axios')
export default {
  name: 'PageIndex',
  data () {
    return {
      slide: 0,
      coin: 'Bitcoin',
      ticker: 'BTC',
      receive: false,
      send: false,
      to: '',
      amount: '',
      Bitcoin: '',
      BitcoinBalance: '',
      BitcoinDollarBalance: '',
      Litecoin: '',
      LitecoinBalance: '',
      LitecoinDollarBalance: '',
      Dash: '',
      DashBalance: '',
      DashDollarBalance: '',
      LitecoinTestnet: '',
      LitecoinTestnetBalance: '',
      LitecoinDollarTestnetBalance: '',
      history: [],
      Bitcoin_history: [],
      Litecoin_history: [],
      Dash_history: [],
      LitecoinTestnet_history: [],
      loading: true,
      loadingBalance: true
    }
  },
  methods: {
    sendTx: function () {
      let url = `http://localhost:5000/transact/${this.coin}/`
      console.log(url)
      let self = this
      axios.post(url, {
        'from': localStorage.getItem('litecoin-test'),
        'to': self.to,
        'amount': self.amount
      })
      this.send = false
    },
    getHistory: function (coinName) {
      let self = this
      switch (coinName) {
        case 'Bitcoin':
          axios.get(`http://localhost:5000/history/Bitcoin/${this.Bitcoin}/`).then(function (response) {
            self.Bitcoin_history = response.data
            console.log(response.data)
            self.history = self.Bitcoin_history
            self.loading = false
          })
          break
        case 'Litecoin':
          axios.get(`http://localhost:5000/history/Litecoin/${this.Litecoin}/`).then(function (response) {
            self.Litecoin_history = response.data
            console.log(response.data)
          })
          break
        case 'Dash':
          axios.get(`http://localhost:5000/history/Dash/${this.Dash}/`).then(function (response) {
            self.Dash_history = response.data
            console.log(response.data)
          })
          break
        case 'LitecoinTestnet':
          axios.get(`http://localhost:5000/history/LitecoinTestnet/${this.LitecoinTestnet}/`).then(function (response) {
            self.LitecoinTestnet_history = response.data
            console.log(response.data)
          })
          break
      }
    },
    getBalance: function (coinName) {
      let self = this
      switch (coinName) {
        case 'Bitcoin':
          axios.get(`http://localhost:5000/balance/Bitcoin/${this.Bitcoin}/`).then(function (response) {
            self.BitcoinBalance = parseFloat(response.data.balance) / 100000000 || '0'
            self.BitcoinDollarBalance = parseFloat(self.BitcoinBalance * 6375.0).toFixed(2)
            console.log('balance', response.data.balance)
            self.loadingBalance = false
          })
          break
        case 'Litecoin':
          axios.get(`http://localhost:5000/balance/Litecoin/${this.Litecoin}/`).then(function (response) {
            self.LitecoinBalance = parseFloat(response.data.balance) / 100000000 || '0'
            self.LitecoinDollarBalance = parseFloat(self.LitecoinBalance * 55.45).toFixed(2)
            console.log(response.data.balance)
          })
          break
        case 'Dash':
          axios.get(`http://localhost:5000/balance/Dash/${this.Dash}/`).then(function (response) {
            self.DashBalance = parseFloat(response.data.balance) / 100000000 || '0'
            self.DashDollarBalance = parseFloat(self.DashBalance * 193.33).toFixed(2)
            console.log(response.data.balance)
          })
          break
        case 'LitecoinTestnet':
          axios.get(`http://localhost:5000/balance/LitecoinTestnet/${this.LitecoinTestnet}/`).then(function (response) {
            self.LitecoinTestnetBalance = parseFloat(response.data.balance) / 100000000 || '0'
            self.LitecoinDollarTestnetBalance = parseFloat(self.LitecoinTestnetBalance * 6375.0).toFixed(2)
            console.log(response.data.balance)
          })
          break
      }
    }
  },
  watch: {
    // whenever slide changes, this function will run
    slide: function () {
      switch (this.slide) {
        case 0:
          this.coin = 'Bitcoin'
          this.history = this.Bitcoin_history
          break
        case 1:
          this.coin = 'Litecoin'
          this.history = this.Litecoin_history
          break
        case 2:
          this.coin = 'Dash'
          this.history = this.Dash_history
          break
        case 3:
          this.coin = 'LitecoinTestnet'
          this.history = this.LitecoinTestnet_history
          break
      }
    },
    coin: function () {
      switch (this.coin) {
        case 'Bitcoin':
          this.ticker = 'BTC'
          break
        case 'Litecoin':
          this.ticker = 'LTC'
          break
        case 'Dash':
          this.ticker = 'DASH'
          break
        case 'LitecoinTestnet':
          this.ticker = 'LTCTEST'
          break
      }
    }
  },
  created () {
    if (localStorage.getItem('bitcoin') == null) {
      this.$router.push('/generate')
    }
    this.Bitcoin = localStorage.getItem('Bitcoin-pub')
    this.getHistory('Bitcoin')
    this.getBalance('Bitcoin')
    this.Litecoin = localStorage.getItem('Litecoin-pub')
    this.getHistory('Litecoin')
    this.getBalance('Litecoin')
    this.Dash = localStorage.getItem('Dash-pub')
    this.getHistory('Dash')
    this.getBalance('Dash')
    this.LitecoinTestnet = localStorage.getItem('LitecoinTestnet-pub')
    this.getHistory('LitecoinTestnet')
    this.getBalance('LitecoinTestnet')
  }
}
</script>
