<template>
<div id="q-app">
  <router-view />
</div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#q-app {
  background: rgb(240, 240, 240);
  background: linear-gradient(180deg, rgba(240, 240, 240, 1) 0%, rgba(209, 202, 193, 0.1) 100%);
}
</style>
